{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1> Welcome to PleaseDontSing.com </h1>
            
            
            <h3> About this Project </h3> 
            <p> I am a graduating senior at Carthage College majoring in Computer Science and Data Science. I am very interested in technology and machine learning, but I 
                also play viola in the Carthage Philharmonic and have always had a passion for music. To combine these two interests, I decided to do my senior thesis 
                on whether it is possible to predict the "enjoyability" of a piece of music by the raw data that we can extract from an mp3 recording. In order to do this, 
                I collected 88 recordings of "Happy Birthday" in varying skill levels, instruments, and pitches. I then collected almost 600 ratings on that data, which indicated how 
                much the reviewers enjoyed the performance. Using this raw data, I have implemented different regression and classification models to try to best predict how "good" a recording is </p>
            
            <h3> Acknowledgements </h3> 
            <p> Thank you to the Carthage College Computer Science Department faculty and students for their support and advice. Specifically, thank you to
                Professors Perry Kivolowitz and Erlan Wheeler for advising me on this project. Thank you also to all of the volunteers who helped me collect the data for this project - 
                I couldn't have done it without you! </p> 
        </div>
    </div>
        
    
{% endblock %}