    <header>
        <nav>
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link {% if index %}active{% endif %}">Home</a></li>
                <li class="nav-item"><a href="{{ url_for('results') }}" class="nav-link {% if results %}active{% endif %}">Results</a></li>
                <li class="nav-item"><a href="{{ url_for('about') }}" class="nav-link {% if about %}active{% endif %}">About this Site</a></li>

            </ul>
        </nav>
        <hr style="clear:both">
    </header>